.private-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-with-sidebar {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
   /* Adjust for fixed header */
}
